
.displayMusic {
    border: solid black 2px;
    position: relative;
    right: 0;
    border-radius: 7px;
    width: 50%;
    left: 48%;
    top: -14%;
    background-color: #583C27;
    opacity: .9;
    color: #e7d1d1
}

