
.displayMusic {
    border: solid black 2px;
    position: relative;
    right: 0;
    border-radius: 7px;
    width: 60%;
    left: 38%;
    top: 3%;
    background-color: #583C27;
    height: 70%;
    opacity: .9;
    color: #e7d1d1;
    overflow-y: scroll
}

thead {
    background-color: rgba(47, 34, 18, 1);
    opacity: 1;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4)
}

th{
    color: #8BCECF;
    font-size: 22px;
    font-weight: 600;
    vertical-align: middle;
    height: 60px;
  }
  
  tr.dataRows:hover{
    /* color:black; */
    background-color:  #2F2212;  
}