

tr{
    color: white;
}

button.btn.btn-outline-light{
    padding: 0px 3px 0px 3px;
    font-size: 15px;
}

/* td{

} */

td.likes, .likeshead{
    width:63px;
}

.genreRow {
    width:60px
}

span {
    font-size: 10px;
}

