
.searchBar{
    /* border: solid rgb(252, 252, 252) 2px; */
    display: inline-block;
}

.searchFilter {
    color: #8BCECF;
    margin-right: 8px;
    font-size: 2rem;

}

select {
    font-size: 1.5rem;
    color: #8BCECF;
    background-color:#2F2212;
    border-radius: 7px;
}

input{
    height: 1.5rem;
    border-radius: 7px;
    position: relative;
    bottom: 5px;
}

.searchButtons {
    font-size: 1.25rem;
    border-radius: 7px;
    position: relative;
    bottom: 3px;
    margin-left: 2px;
}