
.nav{
    display: flex;
    background-color:#2F2212;
}

h1 {
    color: #8BCECF;
    font-weight: 500;
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 4rem;
    margin-top: 0px;
    padding-top: 10px;
    display: inline-block;
    opacity: 1;
    /* border: solid rgb(252, 252, 252) 2px; */


}