body{
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.BackgroundImage{
background-image: url("./Components/Assets/image.png");
height: 120vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative; 
opacity: .6;   
}
