body{
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #e7d1d1;

}


.BackgroundImage{
background-image: url("./Components/Assets/image.png");
height: 120vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative; 
left:1px;
/* opacity: .6;    */
}
